*tar
*tar.gz
*fq.gz
*fastq*
*truncated.gz
*discarded.gz
*sam
*bam*
*bai
*cram
*bw
*gtf
slurm/
.Rproj.user
.Rhistory
*star_index*
*kallisto_index*
*abundance.tsv
*cache*
*files*
*test*
0_rawData/raw_counts/
1_cellrangerCount/
2_cellrangerAggr/
*DS_Store
*\._*
